<ul class="navigation__tier-1 rdc rdc-p-0">
  {% for link in linklists[link_list].links %}
    {%- liquid
      assign has_dropdown = false
      assign use_columns = false
      assign small_promo_count = 0
      assign link_title_sanitised = link.title | downcase | strip

      if link.links != blank
        assign has_dropdown = true
      endif

      if link.levels >= 2
        assign use_columns = true
      else
        for block in section.blocks
          assign dropdown_link_title_sanitised = block.settings.dropdown_link_title | downcase | strip
          if dropdown_link_title_sanitised == link_title_sanitised
            assign use_columns = true
            assign has_dropdown = true
          endif
        endfor
      endif

      for block in section.blocks
        assign dropdown_link_title_sanitised = block.settings.dropdown_link_title | downcase | strip
        if dropdown_link_title_sanitised == link_title_sanitised and block.type == 'menu-promotion-small'
          assign small_promo_count = small_promo_count | plus: 1
        endif
      endfor

      if use_columns and link.levels == 1
        assign column_count = 1 | plus: small_promo_count
      else
        assign column_count = link.links.size | plus: small_promo_count
      endif
    -%}
    {% assign link_handle = link.url | split: "/" %}
    {% assign imgAssetLink = 'menu-img-' | append: link_handle[2] %}
    {% assign imgAssetLink = imgAssetLink | append: '.png' %}
    <li class="rdc-mob-link-li navigation__item{% if has_dropdown %} navigation__item--with-children {% if use_columns %}navigation__item--with-mega-menu{% else %}navigation__item--with-small-menu{% endif %}{% endif %}{% if featured_links contains link.title %} featured-link{% endif %}{% if link.active %} navigation__item--active{% endif %}">
      <div class="rdc-mob-menu-img rdc-w-full">
    <a href="{{ link.url }}" class="rdc-d-flex rdc-ai-c navigation__link" {% if has_dropdown %}aria-haspopup="true" aria-expanded="false" aria-controls="NavigationTier2-{{ forloop.index }}{% if mobile %}-mob{% endif %}"{% endif %}>    
    <img class="rdc-mobile rdc-mr-15" src="{{ imgAssetLink | asset_img_url: '200x' }}"> {{- link.title | escape -}}
      </a>
      </div>

      {% if has_dropdown %}
        <a class="navigation__children-toggle" href="#">{% render 'icon-toggle-menu', stroke_width: 1.3 %}</a>

        <div id="NavigationTier2-{{ forloop.index }}{% if mobile %}-mob{% endif %}" class="navigation__tier-2-container navigation__child-tier">
          {%- for block in section.blocks -%}
            {%- assign dropdown_link_title_sanitised = block.settings.dropdown_link_title | downcase | strip -%}
            {%- if dropdown_link_title_sanitised == link_title_sanitised and block.type == 'menu-promotion-large' -%}
              <div class="navigation__wide-promotion{% if block.settings.enable_fade %} navigation__wide-promotion--with-fade{% endif %}" {{ block.shopify_attributes }}>
                {%- capture wide_promo_image_html -%}
                  <div class="navigation__wide-promotion__image">
                    {%- if block.settings.desktop_image != blank and mobile == false -%}
                      {%- render 'responsive-image', image: block.settings.desktop_image, cover: true -%}
                    {%- endif -%}
                    {%- if block.settings.mobile_image != blank and mobile == true -%}
                      {%- render 'responsive-image', image: block.settings.mobile_image, cover: true -%}
                    {%- endif -%}
                  </div>
                {%- endcapture -%}

                {%- if block.settings.image_position != 'right' or mobile == true -%}{{ wide_promo_image_html }}{%- endif -%}

                <div class="navigation__wide-promotion__text">
                  <div class="feature-text-paired align-{{ block.settings.text_alignment }}">
                    {%- if block.settings.subheading != blank -%}
                      <div class="subheading subheading--over">{{ block.settings.subheading | escape }}</div>
                    {%- endif -%}

                    {% if block.settings.title != blank %}
                      <h2 class="majortitle h1-style">{{ block.settings.title | escape }}</h2>
                    {% endif %}

                    <div class="rte">{{ block.settings.text }}</div>

                    {% if block.settings.button_1_label != blank or block.settings.button_2_label != blank %}
                      <div class="button-row">
                        {% if block.settings.button_1_label != blank %}
                          <a class="button-row__button {% if block.settings.button_1_style != 'link' %}btn btn--{{ block.settings.button_1_style }} btn--link{% else %}feature-link{% endif %}" href="{{ block.settings.button_1_link }}"><span class="btn__text">{{ block.settings.button_1_label | escape }}</span></a>
                        {% endif %}
                        {% if block.settings.button_2_label != blank %}
                          <a class="button-row__button {% if block.settings.button_2_style != 'link' %}btn btn--{{ block.settings.button_2_style }} btn--link{% else %}feature-link{% endif %}" href="{{ block.settings.button_2_link }}"><span class="btn__text">{{ block.settings.button_2_label | escape }}</span></a>
                        {% endif %}
                      </div>
                    {% endif %}
                  </div>
                </div>

                {%- if block.settings.image_position == 'right' and mobile == false -%}{{ wide_promo_image_html }}{%- endif -%}
              </div>
            {%- endif -%}
          {%- endfor -%}

          {%- if link.links != blank or small_promo_count > 0 -%}
            <ul class="navigation__tier-2{% if use_columns %} navigation__columns navigation__columns--count-{{ column_count }}{% if small_promo_count > 0 %} navigation__columns--with-promos{% endif %}{% endif %}">
              {% if use_columns and link.levels == 1 %}
                <li class="navigation__item navigation__column">
                  {% for child_link in link.links %}
                    <a href="{{ child_link.url }}" class="navigation__link">
                      {{- child_link.title | escape -}}
                    </a>
                  {% endfor %}
                </li>
              {% else %}
                {% for child_link in link.links %}
                  <li class="navigation__item{% if child_link.links != blank %} navigation__item--with-children{% endif %}{% if use_columns %} navigation__column{% endif %}{% if featured_links contains child_link.title %} featured-link{% endif %}">
                    <a href="{{ child_link.url }}" class="navigation__link{% if child_link.links != blank %} navigation__column-title heading-font h6-style{% endif %}" {% if child_link.links != blank %}aria-haspopup="true" aria-expanded="false"{% endif %}>
                      {{- child_link.title | escape -}}
                    </a>
                    {% if child_link.links != blank %}
                      <a class="navigation__children-toggle" href="#">{% render 'icon-toggle-menu', stroke_width: 1.3 %}</a>
                    {% endif %}

                    {% if child_link.links != blank %}
                      <div class="navigation__tier-3-container navigation__child-tier">
                        <ul class="navigation__tier-3">
                          {% for child_child_link in child_link.links %}
                          <li class="navigation__item{% if featured_links contains child_child_link.title %} featured-link{% endif %}">
                            <a class="navigation__link" href="{{ child_child_link.url }}">{{ child_child_link.title | escape }}</a>
                          </li>
                          {% endfor %}
                        </ul>
                      </div>
                    {% endif %}
                  </li>
                {% endfor %}
              {% endif %}

              {%- if small_promo_count > 0 -%}
                {%- if mobile == false -%}
                  {%- for block in section.blocks -%}
                    {%- assign dropdown_link_title_sanitised = block.settings.dropdown_link_title | downcase | strip -%}
                    {%- if dropdown_link_title_sanitised == link_title_sanitised and block.type == 'menu-promotion-small' -%}
                      <li class="navigation__column navigation__column--promotion" {{ block.shopify_attributes }}>
                        <div class="menu-promotion{% if block.settings.image != blank %} menu-promotion--with-image{% endif %}" style="--bg: {{ block.settings.bg_col }}; --color: {% if block.settings.text_col contains '0)' %}inherit{% else %}{{ block.settings.text_col }}{% endif %}">
                          {%- if block.settings.link_url != blank -%}
                            <a class="menu-promotion__link scale-on-hover" href="{{ block.settings.link_url }}">
                          {%- endif -%}
                          {%- if block.settings.title != blank -%}
                            <div class="menu-promotion__title">
                              <div class="h6-style heading-font">{{ block.settings.title | escape }}</div>
                            </div>
                          {%- endif -%}
                          {%- if block.settings.text != blank -%}
                            <div class="menu-promotion__text">{{ block.settings.text | escape }}</div>
                          {%- endif -%}
                          {%- if block.settings.image != blank -%}
                            <div class="menu-promotion__image">
                              <div class="scale-on-hover__oh">
                                {%- render 'responsive-image', image: block.settings.image, manual_load: true, extra_classes: 'scale-on-hover__target' -%}
                              </div>
                            </div>
                          {%- endif -%}
                          {%- if block.settings.link_url != blank -%}
                            </a>
                          {%- endif -%}
                        </div>
                      </li>
                    {%- endif -%}
                  {%- endfor -%}
                {%- else -%}
                  <li class="navigation__column navigation__column--promotion{% if section.settings.enable_mobile_promo_carousel and link.links.size > 0 %} navigation__column--promotion-carousel{% endif %}">
                    {%- if section.settings.enable_mobile_promo_carousel and link.links.size > 0 -%}
                      <cc-carousel class="cc-carousel cc-carousel--off-edge-mobile" allow-mouse-drag>
                        <div class="cc-carousel-buttons align-end card-margin desktop-only">
                          <button class="cc-carousel-button cc-carousel-button--prev tap-target cc-carousel-button--no-bg" aria-label="{{ 'general.accessibility_labels.previous' | t }}"><span class="icon--small ltr-icon">{% render 'svg-chevron-left' %}</span></button>
                          <button class="cc-carousel-button cc-carousel-button--next tap-target cc-carousel-button--no-bg" aria-label="{{ 'general.accessibility_labels.next' | t }}"><span class="icon--small ltr-icon">{% render 'svg-chevron-right' %}</span></button>
                        </div>
                        <div class="cc-carousel__scroll-outer">
                          <div class="cc-carousel__scroll-area">
                    {%- endif -%}

                    {%- for block in section.blocks -%}
                      {%- assign dropdown_link_title_sanitised = block.settings.dropdown_link_title | downcase | strip -%}
                      {%- if dropdown_link_title_sanitised == link_title_sanitised and block.type == 'menu-promotion-small' -%}
                        <div class="menu-promotion{% if block.settings.image != blank %} menu-promotion--with-image{% endif %}" style="--bg: {{ block.settings.bg_col }}; --color: {% if block.settings.text_col contains '0)' %}inherit{% else %}{{ block.settings.text_col }}{% endif %}">
                          {%- if block.settings.link_url != blank -%}
                            <a class="menu-promotion__link scale-on-hover" href="{{ block.settings.link_url }}">
                          {%- endif -%}
                          {%- if block.settings.title != blank -%}
                            <div class="menu-promotion__title">
                              <div class="h6-style heading-font">{{ block.settings.title | escape }}</div>
                            </div>
                          {%- endif -%}
                          {%- if block.settings.text != blank -%}
                            <div class="menu-promotion__text">{{ block.settings.text | escape }}</div>
                          {%- endif -%}
                          {%- if block.settings.image != blank -%}
                            <div class="menu-promotion__image">
                              <div class="scale-on-hover__oh">
                                {%- render 'responsive-image', image: block.settings.image, manual_load: true, extra_classes: 'scale-on-hover__target' -%}
                              </div>
                            </div>
                          {%- endif -%}
                          {%- if block.settings.link_url != blank -%}
                            </a>
                          {%- endif -%}
                        </div>
                      {%- endif -%}
                    {%- endfor -%}

                    {%- if section.settings.enable_mobile_promo_carousel and link.links.size > 0 -%}
                          </div>
                        </div>
                      </cc-carousel>
                    {%- endif -%}
                  </li>
                {%- endif -%}
              {%- endif -%}
            </ul>
          {%- endif -%}
        </div>
      {% endif %}
    </li>
  {% endfor %}
</ul>
