<div id="section-id-{{ section.id }}" class="fully-spaced-row--medium card card-scheme card-scheme--{{ section.settings.color_scheme }} card-br-oh{% if section.settings.color_scheme != 'none' %} card-content-padding{% endif %}" data-section-type="custom-row">
  <div class="flexible-layout flexible-layout--align-center valign-{{ section.settings.alignment }}">
    {% for block in section.blocks %}
      <div id="block-id-{{ block.id }}" class="column column--{{ block.settings.width }} {% if block.settings.color_scheme != blank and block.settings.color_scheme != 'none' %}card-scheme card-scheme--{{ block.settings.color_scheme }} card-br-oh{% if block.type != 'image' %} card-content-padding{% endif %}{% endif %}" {{ block.shopify_attributes }} data-cc-animate="cc-fade-in-up" data-cc-animate-delay="{{ forloop.index | times: 0.15 }}s">

        {% if block.type == 'image' %}
          <style>
            {%- if block.settings.height == 'fixed' -%}
              #block-id-{{ block.id }} {
                --image-height: {{ block.settings.height_mobile }}px;
              }
              @media (min-width: 768px) {
                #block-id-{{ block.id }} {
                  --image-height: {{ block.settings.height_desktop }}px;
                }
              }
            {%- endif -%}
          </style>

          {%- assign show_overlay_text = false -%}
          {%- if block.settings.title != blank or block.settings.subheading != blank or block.settings.text != blank or block.settings.button_label != blank -%}
            {%- assign show_overlay_text = true -%}
          {%- endif -%}
          <div class="height--{{ block.settings.height }} image-overlay image-overlay--bg-{{ block.settings.overlay_style }}{% if block.settings.mobile_overlay_under %} overlay-text-parent--mobile-stack{% endif %} card-br-oh">
            {%- unless block.settings.image_link == blank or block.settings.text contains '</a>' -%}<a class="image-overlay__image-link focus-inset" href="{{ block.settings.image_link }}">{%- endunless -%}

            {%- if block.settings.mobile_overlay_under and block.settings.color_scheme == 'none' -%}<div class="card-br-oh-mobile">{%- endif -%}

            {%- if block.settings.image == blank -%}
              <div class="placeholder-image placeholder--banner{% if show_overlay_text %} dark{% endif %}">
                {{- 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' -}}
              </div>
            {%- else -%}
              {%-
                render 'background-image',
                  image: block.settings.image,
                  image_position: block.settings.image_position
              -%}
            {%- endif -%}

            {%- if block.settings.mobile_overlay_under and block.settings.color_scheme == 'none' -%}</div>{%- endif -%}

            {%- if show_overlay_text -%}
            <div class="overlay-text overlay--v-{{ block.settings.text_alignment | split: ' ' | first }} overlay--h-{{ block.settings.text_alignment | split: ' ' | last }} image-overlay__over">
              <div class="overlay-text__inner">
                <div class="overlay-text__text">
                  {%- if block.settings.subheading != blank -%}
                    <div class="overlay-text__subheading subheading subheading--over">{{ block.settings.subheading | escape }}</div>
                  {%- endif -%}
                  {%- if block.settings.title != blank -%}
                    <h2 class="overlay-text__title h3-style">{% render 'feature-heading-text', text: block.settings.title, item_settings: block.settings %}</h2>
                  {%- endif -%}
                  {%- if block.settings.text != blank -%}
                    <div class="overlay-text__rte rte {% if block.settings.enlarge_text %}large-text{% endif %}">{{ block.settings.text }}</div>
                  {%- endif -%}
                  {%- if block.settings.button_label != blank -%}
                    <div class="overlay-text__button-row overlay-text__button-row--secondary">
                      {%- if block.settings.text contains '</a>' -%}
                      <a class="overlay-text__button btn btn--secondary btn--link" href="{{ block.settings.image_link }}"><span class="btn__text">{{ block.settings.button_label | escape }}</span></a>
                      {%- else -%}
                      <span class="overlay-text__button btn btn--secondary btn--link"><span class="btn__text">{{ block.settings.button_label | escape }}</span></span>
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                </div>
              </div>
            </div>
            {%- endif -%}

            {%- unless block.settings.image_link == blank or block.settings.text contains '</a>' -%}</a>{%- endunless -%}
          </div>

        {% elsif block.type == 'text' %}
          <div class="align-{{ block.settings.text_alignment }} card-content-padding-x spaced-text-row">
            {%- if block.settings.subheading != blank -%}
              <div class="subheading subheading--over">{{ block.settings.subheading | escape }}</div>
            {%- endif -%}

            {%- if block.settings.title != blank -%}
              <h2 class="majortitle {{ block.settings.title_size }} in-content">{% render 'feature-heading-text', text: block.settings.title, item_settings: block.settings %}</h2>
            {%- endif -%}

            <div class="rte {% if block.settings.enlarge_text %}large-text{% endif %}">{{ block.settings.text }}</div>

            {%- if block.settings.button_label != blank -%}
              <div class="lightish-spaced-row-above">
                <a class="{% if block.settings.button_style != 'link' %}btn btn--{{ block.settings.button_style }} btn--link{% else %}feature-link{% endif %}" href="{{ block.settings.button_link }}"><span class="btn__text">{{ block.settings.button_label | escape }}</span></a>
              </div>
            {%- endif -%}
          </div>

        {% elsif block.type == 'video' %}

          <div class="video-container card-br-oh"
            data-video-url="{{ block.settings.video }}"
            data-video-autoplay="{% if block.settings.autoplay %}true{% else %}false{% endif %}"
            data-video-loop="false">

            {% unless block.settings.autoplay %}
              <div class="video-container__cover">
                {%- if block.settings.image == blank -%}
                  <div class="placeholder-image placeholder--banner dark">
                    {{- 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' -}}
                  </div>
                {%- else -%}
                  {%- render 'background-image', image: block.settings.image -%}
                {%- endif -%}
              </div>
              <div class="overlay-text overlay-text--for-banner overlay--v-center overlay--h-center image-overlay__over">
                <div class="overlay-text__inner">
                  <div class="overlay-text__text">
                    <a href="#" class="video-container__play" aria-label="{{ 'general.accessibility_labels.video_play' | t | escape }}">{% render 'svg-play' %}</a>
                  </div>
                </div>
              </div>
            {% elsif block.settings.image %}
              <div class="video-container__cover">
                {%- render 'background-image', image: block.settings.image -%}
              </div>
            {% endunless %}

            <div class="video-container__video"></div>
          </div>

        {% elsif block.type == 'html' %}

          <div class="custom-html">
            {{ block.settings.code }}
          </div>

        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>


{% schema %}
  {
    "name": "Custom content",
    "max_blocks": 10,
    "settings": [
      {
        "type": "select",
        "id": "alignment",
        "label": "Vertical alignment",
        "default": "top",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "middle",
            "label": "Middle"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ]
      },
      {
        "type": "select",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "1",
        "options": [
          {
            "value": "1",
            "label": "Card 1"
          },
          {
            "value": "2",
            "label": "Card 2"
          },
          {
            "value": "3",
            "label": "Card 3"
          },
          {
            "value": "none",
            "label": "No card"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "select",
            "id": "width",
            "label": "Width",
            "default": "half",
            "options": [
              {
                "value": "quarter",
                "label": "25%"
              },
              {
                "value": "third",
                "label": "33%"
              },
              {
                "value": "half",
                "label": "50%"
              },
              {
                "value": "two-thirds",
                "label": "66%"
              },
              {
                "value": "three-quarters",
                "label": "75%"
              },
              {
                "value": "full",
                "label": "100%"
              }
            ]
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "2048 x 1024px recommended"
          },
          {
            "type": "select",
            "id": "image_position",
            "label": "Image alignment",
            "info": "Used to keep the subject of your image in view",
            "default": "center center",
            "options": [
              {
                "value": "top left",
                "label": "Top left"
              },
              {
                "value": "top center",
                "label": "Top center"
              },
              {
                "value": "top right",
                "label": "Top right"
              },
              {
                "value": "center left",
                "label": "Middle left"
              },
              {
                "value": "center center",
                "label": "Middle center"
              },
              {
                "value": "center right",
                "label": "Middle right"
              },
              {
                "value": "bottom left",
                "label": "Bottom left"
              },
              {
                "value": "bottom center",
                "label": "Bottom center"
              },
              {
                "value": "bottom right",
                "label": "Bottom right"
              }
            ]
          },
          {
            "type": "radio",
            "id": "height",
            "label": "Image height",
            "options": [
              {
                "value": "adapt",
                "label": "Natural"
              },
              {
                "value": "fixed",
                "label": "Fixed height"
              }
            ],
            "default": "adapt"
          },
          {
            "type": "range",
            "id": "height_desktop",
            "min": 200,
            "max": 1000,
            "step": 20,
            "unit": "px",
            "label": "Desktop fixed height",
            "default": 600
          },
          {
            "type": "range",
            "id": "height_mobile",
            "min": 100,
            "max": 1000,
            "step": 20,
            "unit": "px",
            "label": "Mobile fixed height",
            "default": 500
          },
          {
            "type": "text",
            "id": "subheading",
            "label": "Subheading",
            "default": "Subheading"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "info": "Enter <br> for a line-break",
            "default": "Tell your story"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Pair text with an image to tell a story</p>"
          },
          {
            "type": "checkbox",
            "id": "enlarge_text",
            "label": "Enlarge text",
            "default": false
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button"
          },
          {
            "type": "url",
            "id": "image_link",
            "label": "Image link"
          },
          {
            "type": "select",
            "id": "text_alignment",
            "label": "Text overlay position",
            "options": [
              {
                "value": "top left",
                "label": "Top left"
              },
              {
                "value": "top center",
                "label": "Top center"
              },
              {
                "value": "top right",
                "label": "Top right"
              },
              {
                "value": "center left",
                "label": "Middle left"
              },
              {
                "value": "center center",
                "label": "Middle center"
              },
              {
                "value": "center right",
                "label": "Middle right"
              },
              {
                "value": "bottom left",
                "label": "Bottom left"
              },
              {
                "value": "bottom center",
                "label": "Bottom center"
              },
              {
                "value": "bottom right",
                "label": "Bottom right"
              }
            ],
            "default": "center center"
          },
          {
            "type": "header",
            "content": "Layout"
          },
          {
            "id": "mobile_overlay_under",
            "type": "checkbox",
            "label": "Show text below image on mobile",
            "default": false
          },
          {
            "id": "overlay_style",
            "type": "select",
            "label": "Overlay style",
            "default": "shadow",
            "options": [
              {
                "value": "full",
                "label": "Tint"
              },
              {
                "value": "shadow",
                "label": "Text shadow"
              },
              {
                "value": "full image-overlay--bg-shadow",
                "label": "Text shadow and tint"
              },
              {
                "value": "no_background",
                "label": "No background"
              }
            ]
          },
          {
            "type": "select",
            "id": "color_scheme",
            "label": "Color scheme",
            "info": "Only seen when text shows under image",
            "default": "none",
            "options": [
              {
                "value": "1",
                "label": "Card 1"
              },
              {
                "value": "2",
                "label": "Card 2"
              },
              {
                "value": "3",
                "label": "Card 3"
              },
              {
                "value": "none",
                "label": "No card"
              }
            ]
          },
          {
            "type": "header",
            "content": "Heading text highlight"
          },
          {
            "type": "text",
            "id": "heading_highlight_text",
            "label": "Text to highlight",
            "info": "Case-sensitive. To highlight words or phrases that are not next to each other, use a comma. For example 'free shipping, returns'"
          },
          {
            "type": "checkbox",
            "id": "heading_highlight_font",
            "label": "Enable highlight font",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "heading_highlight_stencil",
            "label": "Enable stencil",
            "default": false
          },
          {
            "type": "color",
            "id": "heading_highlight_color",
            "label": "Color",
            "default": "rgba(0,0,0,0)"
          },
          {
            "type": "color_background",
            "id": "heading_highlight_gradient",
            "label": "Color gradient",
            "info": "A gradient stencil is not possible"
          }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "select",
            "id": "width",
            "label": "Width",
            "default": "half",
            "options": [
              {
                "value": "quarter",
                "label": "25%"
              },
              {
                "value": "third",
                "label": "33%"
              },
              {
                "value": "half",
                "label": "50%"
              },
              {
                "value": "two-thirds",
                "label": "66%"
              },
              {
                "value": "three-quarters",
                "label": "75%"
              },
              {
                "value": "full",
                "label": "100%"
              }
            ]
          },
          {
            "type": "text",
            "id": "subheading",
            "label": "Subheading"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "info": "Enter <br> for a line-break",
            "default": "Rich text"
          },
          {
            "type": "select",
            "id": "title_size",
            "label": "Heading size",
            "default": "h1-style",
            "options": [
              {
                "label": "Extra small",
                "value": "h3-style"
              },
              {
                "label": "Small",
                "value": "h2-style"
              },
              {
                "label": "Regular",
                "value": "h1-style"
              },
              {
                "label": "Impact",
                "value": "hl-style"
              },
              {
                "label": "Extra impact",
                "value": "hsl-style"
              }
            ]
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this text to share information about your store with your customers.</p><p>Describe products, share announcements, or welcome customers to your store.</p>"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          },
          {
            "type": "select",
            "id": "button_style",
            "label": "Button style",
            "default": "primary",
            "options": [
              {
                "label": "Button - primary",
                "value": "primary"
              },
              {
                "label": "Button - secondary",
                "value": "secondary"
              },
              {
                "label": "Link",
                "value": "link"
              }
            ]
          },
          {
            "type": "select",
            "id": "text_alignment",
            "label": "Text alignment",
            "default": "center",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "select",
            "id": "color_scheme",
            "label": "Color scheme",
            "default": "1",
            "options": [
              {
                "value": "1",
                "label": "Card 1"
              },
              {
                "value": "2",
                "label": "Card 2"
              },
              {
                "value": "3",
                "label": "Card 3"
              },
              {
                "value": "none",
                "label": "No card"
              }
            ]
          },
          {
            "type": "header",
            "content": "Heading text highlight"
          },
          {
            "type": "text",
            "id": "heading_highlight_text",
            "label": "Text to highlight",
            "info": "Case-sensitive. To highlight words or phrases that are not next to each other, use a comma. For example 'free shipping, returns'"
          },
          {
            "type": "checkbox",
            "id": "heading_highlight_font",
            "label": "Enable highlight font",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "heading_highlight_stencil",
            "label": "Enable stencil",
            "default": false
          },
          {
            "type": "color",
            "id": "heading_highlight_color",
            "label": "Color",
            "default": "rgba(0,0,0,0)"
          },
          {
            "type": "color_background",
            "id": "heading_highlight_gradient",
            "label": "Color gradient",
            "info": "A gradient stencil is not possible"
          }
        ]
      },
      {
        "type": "video",
        "name": "Video",
        "settings": [
          {
            "type": "select",
            "id": "width",
            "label": "Width",
            "default": "half",
            "options": [
              {
                "value": "quarter",
                "label": "25%"
              },
              {
                "value": "third",
                "label": "33%"
              },
              {
                "value": "half",
                "label": "50%"
              },
              {
                "value": "two-thirds",
                "label": "66%"
              },
              {
                "value": "three-quarters",
                "label": "75%"
              },
              {
                "value": "full",
                "label": "100%"
              }
            ]
          },
          {
            "id": "video",
            "type": "text",
            "label": "Video link",
            "info": "Supports mp4, YouTube and Vimeo. [Read more](https://cleancanvas.co.uk/support/mode/video)",
            "default": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc"
          },
          {
            "type": "checkbox",
            "id": "autoplay",
            "label": "Autoplay",
            "info": "Video will be muted",
            "default": false
          },
          {
            "id": "image",
            "type": "image_picker",
            "label": "Cover image"
          }
        ]
      },
      {
        "type": "html",
        "name": "Custom Liquid",
        "settings": [
          {
            "type": "select",
            "id": "width",
            "label": "Width",
            "default": "half",
            "options": [
              {
                "value": "quarter",
                "label": "25%"
              },
              {
                "value": "third",
                "label": "33%"
              },
              {
                "value": "half",
                "label": "50%"
              },
              {
                "value": "two-thirds",
                "label": "66%"
              },
              {
                "value": "three-quarters",
                "label": "75%"
              },
              {
                "value": "full",
                "label": "100%"
              }
            ]
          },
          {
            "type": "liquid",
            "id": "code",
            "label": "Custom Liquid"
          },
          {
            "type": "select",
            "id": "color_scheme",
            "label": "Color scheme",
            "default": "1",
            "options": [
              {
                "value": "1",
                "label": "Card 1"
              },
              {
                "value": "2",
                "label": "Card 2"
              },
              {
                "value": "3",
                "label": "Card 3"
              },
              {
                "value": "none",
                "label": "No card"
              }
            ]
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom content",
        "settings": {
            "alignment": "middle"
        },
        "blocks": [
          {
            "type": "image",
            "settings": {
              "width": "half"
            }
          },
          {
            "type": "text",
            "settings": {
              "title": "Welcome",
              "text": "<p>Use this text to share information about your store with your customers.</p><p>Describe products, share announcements, or welcome customers to your store.</p>",
              "width": "half"
            }
          }
        ]
      }
    ]
  }
{% endschema %}
