{%- liquid
  if section.settings.enable_carousel
    assign product_limit = 20
  elsif section.settings.show_title_card
    assign product_limit = section.settings.grid | times: section.settings.rows | minus: 1
  else
    assign product_limit = section.settings.grid | times: section.settings.rows
  endif
  assign collection = collections[section.settings.collection]
-%}

<div class="section-id-{{ section.id }} collection-slider-row" data-section-type="featured-collection">
  {% if section.settings.title != blank %}
    <h2 class="section-title{% unless section.settings.show_title %} visually-hidden{% endunless %}">{{ section.settings.title | escape }}</h2>
  {% endif %}

  <cc-carousel class="cc-carousel cc-carousel--off-edge-mobile{% unless section.settings.enable_carousel %} cc-carousel--mobile-only{% endunless %} card-margin" allow-mouse-drag rebuild-on-resize data-cc-animate="cc-fade-in-up">
    <div class="cc-carousel-buttons cc-carousel-buttons--overlay-top">
      <button class="cc-carousel-button cc-carousel-button--prev tap-target" aria-label="{{ 'general.accessibility_labels.previous' | t }}"><span class="icon--small ltr-icon">{% render 'svg-chevron-left' %}</span></button>
      <button class="cc-carousel-button cc-carousel-button--next tap-target" aria-label="{{ 'general.accessibility_labels.next' | t }}"><span class="icon--small ltr-icon">{% render 'svg-chevron-right' %}</span></button>
    </div>
    <div class="cc-carousel__scroll-outer">
      <div class="product-list product-list--per-row-{{ section.settings.grid }} product-list--per-row-mob-{{ settings.prod_thumb_mob_per_row }} product-list--image-shape-{{ settings.prod_thumb_shape }} cc-carousel__scroll-area">
        {% if section.settings.collection == blank %}

          {% for i in (1..product_limit) %}
            {% render 'onboarding-product-block', forloop: forloop %}
          {% endfor %}

        {% else %}

          {%- if section.settings.show_title_card -%}
            <div class="product-block product-block--mobile-wide">
              {%- liquid
                if section.settings.show_title_card_image
                  if section.settings.title_card_image != blank
                    assign title_card_image = section.settings.title_card_image
                  elsif collection.image
                    assign title_card_image = collection.image
                  endif
                endif
              -%}
              <div class="product-list-heading-block scale-on-hover card-scheme card-scheme--{{ section.settings.color_scheme }} card-br-oh height--cover page-header page-header--with-background {% if title_card_image %}image-overlay image-overlay--bg-{{ section.settings.overlay_style }}{% endif %}">
                {%- if title_card_image -%}
                  {%- render 'background-image', image: title_card_image, image_position: section.settings.image_position, extra_classes: 'scale-on-hover__target' -%}
                {%- endif -%}

                <div class="product-list-heading-block__text">
                  <div class="overlay-text overlay-text--inline overlay--v-bottom align-start image-overlay__over" data-cc-animate data-cc-animate-delay="0.2s">
                    <div class="overlay-text__inner">
                      <div class="overlay-text__text">
                        <h2 class="overlay-text__title h1-style" id="{{ section.id }}-Heading">{{ collection.title | link_to: collection.url }}</h2>
                        {%- if collection.description != blank -%}
                        <div class="overlay-text__rte rte cf reading-width">{{ collection.description }}</div>
                        {%- endif -%}
                      </div>
                    </div>
                  </div>
                </div>

                <a class="product-list-heading-block__link" href="{{ collection.url }}" aria-labelledby="{{ section.id }}-Heading"></a>
              </div>
            </div>
          {%- endif -%}

          {%- liquid
            if settings.prod_thumb_shape == 'portrait-23'
              assign chosen_aspect_ratio = 0.67
            elsif settings.prod_thumb_shape == 'portrait-45'
              assign chosen_aspect_ratio = 0.8
            elsif settings.prod_thumb_shape == 'square'
              assign chosen_aspect_ratio = 1.0
            elsif settings.prod_thumb_shape == 'landscape-54'
              assign chosen_aspect_ratio = 1.25
            elsif settings.prod_thumb_shape == 'landscape-32'
              assign chosen_aspect_ratio = 1.50
            elsif settings.prod_thumb_shape == 'tallest'
              assign chosen_aspect_ratio = 99
              for product in collection.products limit: product_limit
                if product.featured_media.preview_image.aspect_ratio < chosen_aspect_ratio
                  assign chosen_aspect_ratio = product.featured_media.preview_image.aspect_ratio
                endif
              endfor
            else
              assign chosen_aspect_ratio = 0
              for product in collection.products limit: product_limit
                if product.featured_media.preview_image.aspect_ratio > chosen_aspect_ratio
                  assign chosen_aspect_ratio = product.featured_media.preview_image.aspect_ratio
                endif
              endfor
            endif
          -%}
          {% for product in collection.products limit: product_limit %}
            {% render 'product-block', product: product, collection: collection, custom_aspect_ratio: chosen_aspect_ratio, no_swiping: true %}
          {% endfor %}

        {% endif %}
      </div>
    </div>
  </cc-carousel>
</div>


{% schema %}
  {
    "name": "Featured collection",
    "class": "section-featured-collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "type": "checkbox",
        "id": "show_title",
        "label": "Show heading",
        "info": "A hidden heading will still be readable by search engines and screen readers",
        "default": false
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show product vendor",
        "default": false
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "enable_carousel",
        "label": "Enable carousel on desktop",
        "info": "Always a carousel on mobile",
        "default": true
      },
      {
        "type": "range",
        "id": "grid",
        "label": "Number of columns on desktop",
        "min": 2,
        "max": 5,
        "step": 1,
        "default": 4
      },
      {
        "type": "range",
        "id": "rows",
        "label": "Rows",
        "info": "Does not apply to carousel layout",
        "min": 1,
        "max": 5,
        "step": 1,
        "default": 1
      },
      {
        "type": "header",
        "content": "Title card"
      },
      {
        "type": "checkbox",
        "id": "show_title_card",
        "label": "Show title card",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_title_card_image",
        "label": "Show background image",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "title_card_image",
        "label": "Custom image"
      },
      {
        "type": "select",
        "id": "image_position",
        "label": "Image alignment",
        "info": "Used to keep the subject of your image in view",
        "default": "center center",
        "options": [
          {
            "value": "top left",
            "label": "Top left"
          },
          {
            "value": "top center",
            "label": "Top center"
          },
          {
            "value": "top right",
            "label": "Top right"
          },
          {
            "value": "center left",
            "label": "Middle left"
          },
          {
            "value": "center center",
            "label": "Middle center"
          },
          {
            "value": "center right",
            "label": "Middle right"
          },
          {
            "value": "bottom left",
            "label": "Bottom left"
          },
          {
            "value": "bottom center",
            "label": "Bottom center"
          },
          {
            "value": "bottom right",
            "label": "Bottom right"
          }
        ]
      },
      {
        "id": "overlay_style",
        "type": "select",
        "label": "Overlay style",
        "default": "shadow",
        "options": [
          {
            "value": "full",
            "label": "Tint"
          },
          {
            "value": "shadow",
            "label": "Text shadow"
          },
          {
            "value": "full image-overlay--bg-shadow",
            "label": "Text shadow and tint"
          },
          {
            "value": "no_background",
            "label": "No background"
          }
        ]
      },
      {
        "type": "select",
        "id": "color_scheme",
        "label": "Color scheme",
        "info": "Used when there is no image",
        "default": "1",
        "options": [
          {
            "value": "1",
            "label": "Card 1"
          },
          {
            "value": "2",
            "label": "Card 2"
          },
          {
            "value": "3",
            "label": "Card 3"
          },
          {
            "value": "none",
            "label": "No card"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "settings": {
          "title": "Featured collection"
        }
      }
    ]
  }
{% endschema %}
