<div class="card-margin" data-section-id="{{ section.id }}" data-filter-section-id="{{ section.id }}" data-section-type="collection-template" data-ajax-filtering="{{ section.settings.ajax_products }}" data-components="modal,price-range" data-cc-animate>
  {% paginate collection.products by section.settings.coll_num_per_page_int %}

  {%- liquid
    if section.settings.show_image_behind_heading and collection.image
      assign header_image_enabled = true
    else
      assign header_image_enabled = false
    endif
    assign current_sort = collection.sort_by | default: collection.default_sort_by

    assign show_filters = section.settings.enable_filtering
    if collection.filters == empty
      assign show_filters = false
    endif
    if section.settings.coll_show_sort and collection.products.size > 0
      assign show_filters = true
    endif
  -%}

  {%- capture filter_button -%}
    {%- if show_filters -%}
      <a href="#" class="toggle-btn btn btn--plain-text js-only" data-toggle-filters>
        <span class="button-icon">{% render 'svg-filter' %}</span>
        <span>{{ 'collections.filtering.filter' | t }}</span>
        {% liquid
          assign filter_count = 0
          for filter in collection.filters
            assign filter_count = filter_count | plus: filter.active_values.size
            if filter.type == 'price_range'
              if filter.min_value.value != nil or filter.max_value.value != nil
                assign filter_count = filter_count | plus: 1
              endif
            endif
          endfor
        %}
        {% if filter_count > 0 %}
          <span class="toggle-btn__count">({{ filter_count }})</span>
        {% endif %}
      </a>
    {%- endif -%}
  {%- endcapture -%}

  {%- if section.settings.heading_layout == 'row' -%}
    {%- if collection.description != blank and section.settings.coll_desc_pos == 'above' -%}
      <div class="container collection-header-full" data-cc-animate>
        <div class="collection-header-full__title"><h1>{{ collection.title | escape }}</h1></div>
        <div class="collection-header-full__description">
          <div class="rte">{{ collection.description }}</div>
        </div>
        {%- if show_filters -%}
          <div class="collection-header-full__filter">{{ filter_button }}</div>
        {%- endif -%}
      </div>
    {%- else -%}
      <div class="container page-header page-header--triplet page-header--middle-main page-header--empty-right" data-cc-animate>
        <div class="page-header__left">{{ filter_button }}</div>
        <div class="page-header__middle"><h1 class="page-header__title">{{ collection.title | escape }}</h1></div>
        <div class="page-header__right"></div>
      </div>
    {%- endif -%}
  {%- elsif section.settings.heading_layout == 'no-title' and show_filters != blank -%}
    <div class="container page-header align-start" data-cc-animate>
      {{ filter_button }}
    </div>
  {%- endif -%}

  <div class="filter-container" data-ajax-scroll-to>
    {% if show_filters %}
      <div class="filter-modal cc-popup cc-popup--left" aria-hidden="true" data-freeze-scroll="true">
        <div class="cc-popup-background"></div>
        <div class="cc-popup-modal" role="dialog" aria-modal="true" aria-labelledby="FilterHeading">
          <div class="cc-popup-container">
            <button type="button" class="cc-popup-close tap-target" aria-label="{{ 'general.accessibility_labels.close' | t | escape }}">
              {%- render 'popup-close' -%}
            </button>
            <div class="cc-popup-content" data-ajax-container="filters">
              {% render 'faceted-filters', filter_context: collection, clear_url: collection.url, current_sort: current_sort %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    <div class="filters-adjacent collection-listing" data-ajax-container="products">
      <div class="product-list product-list--per-row-{{ section.settings.grid }} product-list--per-row-mob-{{ settings.prod_thumb_mob_per_row }} product-list--image-shape-{{ settings.prod_thumb_shape }}">

        {%- if section.settings.heading_layout == 'card' -%}
          <div class="product-block product-block--mobile-wide">
            <div class="product-list-heading-block card-scheme card-scheme--{{ section.settings.color_scheme }} card-br-oh card-br-oh--no-isolate height--cover page-header page-header--with-background {% if header_image_enabled %}image-overlay image-overlay--bg-{{ section.settings.overlay_style }}{% endif %}{% if section.settings.heading_card_filter_button %} product-list-heading-block--toggle-btn-button-style{% endif %}">
              {%- if header_image_enabled -%}
                {%- render 'background-image', image: collection.image, image_position: section.settings.image_position, eager: true -%}
              {%- endif -%}

              <div class="product-list-heading-block__text{% if show_filters %} product-list-heading-block__text--with-filter{% endif %}">
                {{ filter_button }}

                <div class="overlay-text overlay-text--inline align-start overlay--v-bottom image-overlay__over" data-cc-animate data-cc-animate-delay="0.2s">
                  <div class="overlay-text__inner">
                    <div class="overlay-text__text">
                      <h1 class="overlay-text__title">{{ collection.title | escape }}</h1>

                      {% if collection.description != blank and section.settings.coll_desc_pos == 'above' %}
                        <div class="overlay-text__rte rte cf reading-width">{{ collection.description }}</div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {%- endif %}

        {% if collection.products.size == 0 %}
          <h5 class="align-centre spaced-text-row fully-padded-row-x--medium">{{ 'collections.general.no_matches' | t }}</h5>
        {% else %}
          {%- liquid
            if settings.prod_thumb_shape == 'portrait-23'
              assign chosen_aspect_ratio = 0.67
            elsif settings.prod_thumb_shape == 'portrait-45'
              assign chosen_aspect_ratio = 0.8
            elsif settings.prod_thumb_shape == 'square'
              assign chosen_aspect_ratio = 1.0
            elsif settings.prod_thumb_shape == 'landscape-54'
              assign chosen_aspect_ratio = 1.25
            elsif settings.prod_thumb_shape == 'landscape-32'
              assign chosen_aspect_ratio = 1.50
            elsif settings.prod_thumb_shape == 'tallest'
              assign chosen_aspect_ratio = 99
              for product in collection.products
                if product.featured_media.preview_image.aspect_ratio < chosen_aspect_ratio
                  assign chosen_aspect_ratio = product.featured_media.preview_image.aspect_ratio
                endif
              endfor
            else
              assign chosen_aspect_ratio = 0
              for product in collection.products
                if product.featured_media.preview_image.aspect_ratio > chosen_aspect_ratio
                  assign chosen_aspect_ratio = product.featured_media.preview_image.aspect_ratio
                endif
              endfor
            endif

            for product in collection.products
              assign product_loop_index = forloop.index
              for block in section.blocks
                if block.settings.position == product_loop_index
                  render 'product-grid-promo', block: block, animate: true
                endif
              endfor

              render 'product-block', product: product, custom_aspect_ratio: chosen_aspect_ratio, animate: true
            endfor

            assign current_product_count_plus_one = collection.products.size | plus: 1
            for block in section.blocks
              if block.settings.position == current_product_count_plus_one
                render 'product-grid-promo', block: block, animate: true
              endif
            endfor
          -%}
        {% endif %}
      </div>
    </div>
  </div>

  <div data-ajax-container="pagination">{% render 'pagination-control', paginate: paginate %}</div>

  {% endpaginate %}

  {% if collection.description != blank and section.settings.coll_desc_pos == 'below' %}
    <div class="container container--reading-width spaced-text-row" data-cc-animate>
      <div class="rte cf">{{ collection.description }}</div>
    </div>
  {% endif %}
</div>


{% schema %}
  {
    "name": "Collection pages",
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "range",
        "id": "coll_num_per_page_int",
        "min": 16,
        "max": 50,
        "step": 1,
        "label": "Number of products to show per page",
        "default": 24
      },
      {
        "type": "range",
        "id": "grid",
        "label": "Number of columns on desktop",
        "min": 2,
        "max": 5,
        "step": 1,
        "default": 4
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show product vendors",
        "default": false
      },
      {
        "type": "select",
        "id": "coll_desc_pos",
        "label": "Description position",
        "default": "above",
        "options": [
          {
            "value": "above",
            "label": "With collection title"
          },
          {
            "value": "below",
            "label": "Below products"
          }
        ]
      },
      {
        "type": "select",
        "id": "heading_layout",
        "label": "Heading layout",
        "default": "card",
        "options": [
          {
            "value": "card",
            "label": "Card in grid"
          },
          {
            "value": "row",
            "label": "Row"
          },
          {
            "value": "no-title",
            "label": "No title"
          }
        ]
      },
      {
        "type": "header",
        "content": "Card heading"
      },
      {
        "type": "checkbox",
        "id": "heading_card_filter_button",
        "label": "Enable button style for filter",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_image_behind_heading",
        "label": "Show collection image",
        "default": true
      },
      {
        "type": "select",
        "id": "image_position",
        "label": "Image alignment",
        "info": "Used to keep the subject of your image in view",
        "default": "center center",
        "options": [
          {
            "value": "top left",
            "label": "Top left"
          },
          {
            "value": "top center",
            "label": "Top center"
          },
          {
            "value": "top right",
            "label": "Top right"
          },
          {
            "value": "center left",
            "label": "Middle left"
          },
          {
            "value": "center center",
            "label": "Middle center"
          },
          {
            "value": "center right",
            "label": "Middle right"
          },
          {
            "value": "bottom left",
            "label": "Bottom left"
          },
          {
            "value": "bottom center",
            "label": "Bottom center"
          },
          {
            "value": "bottom right",
            "label": "Bottom right"
          }
        ]
      },
      {
        "id": "overlay_style",
        "type": "select",
        "label": "Overlay style",
        "default": "shadow",
        "options": [
          {
            "value": "full",
            "label": "Tint"
          },
          {
            "value": "shadow",
            "label": "Text shadow"
          },
          {
            "value": "full image-overlay--bg-shadow",
            "label": "Text shadow and tint"
          },
          {
            "value": "no_background",
            "label": "No background"
          }
        ]
      },
      {
        "type": "select",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "1",
        "options": [
          {
            "value": "1",
            "label": "Card 1"
          },
          {
            "value": "2",
            "label": "Card 2"
          },
          {
            "value": "3",
            "label": "Card 3"
          },
          {
            "value": "none",
            "label": "No card"
          }
        ]
      },
      {
        "type": "header",
        "content": "Filters"
      },
      {
        "type": "checkbox",
        "id": "enable_filtering",
        "label": "Enable filtering",
        "info": "[Customize filters](\/admin\/menus)",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "coll_show_sort",
        "label": "Enable sorting",
        "info": "Shows in the filter drawer",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "coll_show_best_selling_sort",
        "label": "Show 'Best selling' sort option",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "coll_show_manual_sort",
        "label": "Show 'Manual' sort option",
        "default": false
      },
      {
        "type": "select",
        "id": "collapse_filters_method",
        "label": "Filter row collapse",
        "default": "over-12",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "over-6",
            "label": "Over 6 items"
          },
          {
            "value": "over-12",
            "label": "Over 12 items"
          },
          {
            "value": "over-18",
            "label": "Over 18 items"
          },
          {
            "value": "all",
            "label": "All rows"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "show_filter_counts",
        "label": "Show filter counts",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_disabled_filters",
        "label": "Show filters with zero results",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "ajax_products",
        "label": "Filter and sort collections without loading a new page",
        "default": true,
        "info": "Some apps require this to be disabled"
      },
      {
        "type": "checkbox",
        "id": "filter_two_columns",
        "label": "Two column filter values",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "promo",
        "name": "Promotional cards",
        "limit": 10,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "image_position",
            "label": "Image alignment",
            "info": "Used to keep the subject of your image in view",
            "default": "center center",
            "options": [
              {
                "value": "top left",
                "label": "Top left"
              },
              {
                "value": "top center",
                "label": "Top center"
              },
              {
                "value": "top right",
                "label": "Top right"
              },
              {
                "value": "center left",
                "label": "Middle left"
              },
              {
                "value": "center center",
                "label": "Middle center"
              },
              {
                "value": "center right",
                "label": "Middle right"
              },
              {
                "value": "bottom left",
                "label": "Bottom left"
              },
              {
                "value": "bottom center",
                "label": "Bottom center"
              },
              {
                "value": "bottom right",
                "label": "Bottom right"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "show_icon",
            "label": "Show icon",
            "default": false
          },
          {
            "type": "select",
            "id": "icon",
            "label": "Icon",
            "default": "star",
            "options": [
              {
                "value": "award",
                "label": "Award"
              },
              {
                "value": "box",
                "label": "Box"
              },
              {
                "value": "briefcase",
                "label": "Briefcase"
              },
              {
                "value": "calendar",
                "label": "Calendar"
              },
              {
                "value": "chat_bubble",
                "label": "Chat bubble"
              },
              {
                "value": "check_mark",
                "label": "Check mark"
              },
              {
                "value": "check_mark_in_circle",
                "label": "Check mark in circle"
              },
              {
                "value": "clock",
                "label": "Clock"
              },
              {
                "value": "credit_card",
                "label": "Credit card"
              },
              {
                "value": "dollar_sign",
                "label": "Dollar sign"
              },
              {
                "value": "dryer",
                "label": "Dryer"
              },
              {
                "value": "eye",
                "label": "Eye"
              },
              {
                "value": "feather",
                "label": "Feather"
              },
              {
                "value": "gift",
                "label": "Gift"
              },
              {
                "value": "heart",
                "label": "Heart"
              },
              {
                "value": "iron",
                "label": "Iron"
              },
              {
                "value": "leaf",
                "label": "Leaf"
              },
              {
                "value": "leather",
                "label": "Leather"
              },
              {
                "value": "lock",
                "label": "Lock"
              },
              {
                "value": "map_pin",
                "label": "Map pin"
              },
              {
                "value": "pants",
                "label": "Pants"
              },
              {
                "value": "percent",
                "label": "Percent"
              },
              {
                "value": "plane",
                "label": "Plane"
              },
              {
                "value": "price_tag",
                "label": "Price tag"
              },
              {
                "value": "question_mark",
                "label": "Question mark"
              },
              {
                "value": "return",
                "label": "Return"
              },
              {
                "value": "ruler",
                "label": "Ruler"
              },
              {
                "value": "scissors",
                "label": "Scissors"
              },
              {
                "value": "shirt",
                "label": "Shirt"
              },
              {
                "value": "shoe",
                "label": "Shoe"
              },
              {
                "value": "silhouette",
                "label": "Silhouette"
              },
              {
                "value": "star",
                "label": "Star"
              },
              {
                "value": "truck",
                "label": "Truck"
              },
              {
                "value": "washing",
                "label": "Washing"
              }
            ]
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Promotion heading"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Describe your promotion</p>"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label"
          },
          {
            "type": "select",
            "id": "button_style",
            "label": "Button style",
            "default": "primary",
            "options": [
              {
                "label": "Button - primary",
                "value": "primary"
              },
              {
                "label": "Button - secondary",
                "value": "secondary"
              },
              {
                "label": "Link",
                "value": "link"
              }
            ]
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "select",
            "id": "text_alignment",
            "label": "Text overlay position",
            "options": [
              {
                "value": "top left",
                "label": "Top left"
              },
              {
                "value": "top center",
                "label": "Top center"
              },
              {
                "value": "top right",
                "label": "Top right"
              },
              {
                "value": "center left",
                "label": "Middle left"
              },
              {
                "value": "center center",
                "label": "Middle center"
              },
              {
                "value": "center right",
                "label": "Middle right"
              },
              {
                "value": "bottom left",
                "label": "Bottom left"
              },
              {
                "value": "bottom center",
                "label": "Bottom center"
              },
              {
                "value": "bottom right",
                "label": "Bottom right"
              }
            ],
            "default": "center center"
          },
          {
            "id": "overlay_style",
            "type": "select",
            "label": "Overlay style",
            "default": "shadow",
            "options": [
              {
                "value": "full",
                "label": "Tint"
              },
              {
                "value": "shadow",
                "label": "Text shadow"
              },
              {
                "value": "full image-overlay--bg-shadow",
                "label": "Text shadow and tint"
              },
              {
                "value": "no_background",
                "label": "No background"
              }
            ]
          },
          {
            "type": "header",
            "content": "Layout"
          },
          {
            "type": "paragraph",
            "content": "Shows on every page of products."
          },
          {
            "type": "paragraph",
            "content": "If displayed, the header card will always take first position."
          },
          {
            "type": "paragraph",
            "content": "Will not show if position does not exist due to lack of products."
          },
          {
            "type": "range",
            "id": "position",
            "min": 1,
            "max": 51,
            "step": 1,
            "label": "Position in grid",
            "default": 3
          },
          {
            "type": "select",
            "id": "column_width",
            "label": "Card size",
            "options": [
              {
                "value": "single-desk-and-mob",
                "label": "Single column - desktop and mobile"
              },
              {
                "value": "single-desk-wide-mob",
                "label": "Single column desktop, full width mobile"
              },
              {
                "value": "double",
                "label": "Two columns"
              },
              {
                "value": "full",
                "label": "Full width"
              }
            ],
            "default": "single-desk-and-mob"
          },
          {
            "type": "select",
            "id": "color_scheme",
            "label": "Color scheme",
            "default": "1",
            "options": [
              {
                "value": "1",
                "label": "Card 1"
              },
              {
                "value": "2",
                "label": "Card 2"
              },
              {
                "value": "3",
                "label": "Card 3"
              },
              {
                "value": "custom",
                "label": "Custom"
              },
              {
                "value": "none",
                "label": "No card"
              }
            ]
          },
          {
            "type": "header",
            "content": "Custom color scheme"
          },
          {
            "type": "color",
            "id": "card_custom_text",
            "label": "Text",
            "default": "#333333"
          },
          {
            "type": "color",
            "id": "card_custom_bg",
            "label": "Background color",
            "default": "#f6f6ef"
          },
          {
            "type": "color_background",
            "id": "card_custom_bg_grad",
            "label": "Background gradient",
            "info": "Set to 'none' to use the flat background color"
          }
        ]
      }
    ]
  }
{% endschema %}
