<div class="card card-scheme card-scheme--{{ section.settings.color_scheme }} card-content-padding-x fully-padded-row--{{ section.settings.height }}" data-cc-animate>
  <div class="container{% unless section.settings.full_width %} container--reading-width{% endunless %}">
    <div class="align-{{ section.settings.text_alignment }} spaced-column">
      {% assign skip_block_count = 0 %}
      {% for block in section.blocks %}
        {%- liquid
          if skip_block_count > 0
            assign skip_block_count = skip_block_count | minus: 1
            continue
          endif
        -%}
        {% case block.type %}
          {% when 'heading' %}
            {% if block.settings.use_h1 %}
              <h1 class="majortitle {{ block.settings.title_size }}" {{ block.shopify_attributes }}>{% render 'feature-heading-text', text: block.settings.title, item_settings: block.settings %}</h1>
            {% else %}
              <h2 class="majortitle {{ block.settings.title_size }}" {{ block.shopify_attributes }}>{% render 'feature-heading-text', text: block.settings.title, item_settings: block.settings %}</h2>
            {% endif %}

          {% when 'subheading' %}
            <div class="subheading subheading--over lightish-spaced-row-above" {{ block.shopify_attributes }}>{{ block.settings.subheading | escape }}</div>

          {% when 'text' %}
            <div class="rte lightly-spaced-row {% if block.settings.enlarge_text %}large-text{% endif %}" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>

          {% when 'button' %}
            <div class="lightish-spaced-row-above lightish-spaced-row button-row" {{ block.shopify_attributes }}>
              <a class="{% if block.settings.button_style != 'link' %}btn btn--{{ block.settings.button_style }} btn--link{% else %}feature-link{% endif %} button-row__button" href="{{ block.settings.button_link }}"><span class="btn__text">{{ block.settings.button_label | escape }}</span></a>
              {%- assign skip_block_count = 0 -%}
              {%- for next_block in section.blocks offset: forloop.index -%}
                {%- if next_block.type == 'button' -%}
                  {%- assign skip_block_count = skip_block_count | plus: 1 -%}
                  <a class="{% if next_block.settings.button_style != 'link' %}btn btn--{{ next_block.settings.button_style }} btn--link{% else %}feature-link{% endif %} button-row__button" href="{{ next_block.settings.button_link }}" {{ block.shopify_attributes }}><span class="btn__text">{{ next_block.settings.button_label | escape }}</span></a>
                {%- else -%}
                  {%- break -%}
                {%- endif -%}
              {%- endfor -%}
            </div>

          {% when 'image' %}
            <div class="lightly-spaced-row lightly-spaced-row-above inline-width-container scale-on-hover" style="width: {{ block.settings.image_width }}px" {{ block.shopify_attributes }}>
              {% if block.settings.url != blank %}<a href="{{ block.settings.url }}">{% endif %}
                {% if block.settings.image != blank %}
                  {% render 'responsive-image', image: block.settings.image, extra_classes: 'scale-on-hover__target' %}
                {% else %}
                  <div class="placeholder-image">
                    {{- 'image' | placeholder_svg_tag: 'placeholder-svg' -}}
                  </div>
                {% endif %}
              {% if block.settings.url != blank %}</a>{% endif %}
            </div>

          {% when 'icon' %}
            <div class="lightly-spaced-row lightly-spaced-row-above" {{ block.shopify_attributes }}>
              <span class="large-light-icon">
                {% render 'icon', icon: block.settings.icon, size: 'medium' %}
              </span>
            </div>

        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Rich text",
    "class": "section-rich-text",
    "settings": [
      {
        "type": "select",
        "id": "height",
        "label": "Section height",
        "default": "medium",
        "options": [
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "1",
        "options": [
          {
            "value": "1",
            "label": "Card 1"
          },
          {
            "value": "2",
            "label": "Card 2"
          },
          {
            "value": "3",
            "label": "Card 3"
          },
          {
            "value": "none",
            "label": "No card"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Wide display",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "Heading",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Rich text"
          },
          {
            "type": "select",
            "id": "title_size",
            "label": "Heading size",
            "default": "h1-style",
            "options": [
              {
                "label": "Extra small",
                "value": "h3-style"
              },
              {
                "label": "Small",
                "value": "h2-style"
              },
              {
                "label": "Regular",
                "value": "h1-style"
              },
              {
                "label": "Impact",
                "value": "hl-style"
              },
              {
                "label": "Extra impact",
                "value": "hsl-style"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "use_h1",
            "label": "Set as primary page heading",
            "info": "Use <h1> tag. One per page recommended. [Read more](https://cleancanvas.co.uk/support/mode/section-h1-setting)",
            "default": false
          },
          {
            "type": "header",
            "content": "Heading text highlight"
          },
          {
            "type": "text",
            "id": "heading_highlight_text",
            "label": "Text to highlight",
            "info": "Case-sensitive. To highlight words or phrases that are not next to each other, use a comma. For example 'free shipping, returns'"
          },
          {
            "type": "checkbox",
            "id": "heading_highlight_font",
            "label": "Enable highlight font",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "heading_highlight_stencil",
            "label": "Enable stencil",
            "default": false
          },
          {
            "type": "color",
            "id": "heading_highlight_color",
            "label": "Color",
            "default": "rgba(0,0,0,0)"
          },
          {
            "type": "color_background",
            "id": "heading_highlight_gradient",
            "label": "Color gradient",
            "info": "A gradient stencil is not possible"
          }
        ]
      },
      {
        "type": "subheading",
        "name": "Subheading",
        "settings": [
          {
            "type": "text",
            "id": "subheading",
            "label": "Subheading",
            "default": "Subheading"
          }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this text to share information about your store with your customers. Describe products, share announcements, or welcome customers to your store.</p>"
          },
          {
            "type": "checkbox",
            "id": "enlarge_text",
            "label": "Enlarge text",
            "default": true
          }
        ]
      },
      {
        "type": "button",
        "name": "Button",
        "settings": [
          {
            "type": "paragraph",
            "content": "Consecutive buttons will show on the same row"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button",
            "default": "Button text"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          },
          {
            "type": "select",
            "id": "button_style",
            "label": "Button style",
            "default": "primary",
            "options": [
              {
                "label": "Button - primary",
                "value": "primary"
              },
              {
                "label": "Button - secondary",
                "value": "secondary"
              },
              {
                "label": "Link",
                "value": "link"
              }
            ]
          }
        ]
      },
      {
        "type": "icon",
        "name": "Icon",
        "settings": [
          {
            "type": "select",
            "id": "icon",
            "label": "Icon",
            "default": "star",
            "options": [
              {
                "value": "award",
                "label": "Award"
              },
              {
                "value": "box",
                "label": "Box"
              },
              {
                "value": "briefcase",
                "label": "Briefcase"
              },
              {
                "value": "calendar",
                "label": "Calendar"
              },
              {
                "value": "chat_bubble",
                "label": "Chat bubble"
              },
              {
                "value": "check_mark",
                "label": "Check mark"
              },
              {
                "value": "check_mark_in_circle",
                "label": "Check mark in circle"
              },
              {
                "value": "clock",
                "label": "Clock"
              },
              {
                "value": "credit_card",
                "label": "Credit card"
              },
              {
                "value": "dollar_sign",
                "label": "Dollar sign"
              },
              {
                "value": "dryer",
                "label": "Dryer"
              },
              {
                "value": "eye",
                "label": "Eye"
              },
              {
                "value": "feather",
                "label": "Feather"
              },
              {
                "value": "gift",
                "label": "Gift"
              },
              {
                "value": "heart",
                "label": "Heart"
              },
              {
                "value": "iron",
                "label": "Iron"
              },
              {
                "value": "leaf",
                "label": "Leaf"
              },
              {
                "value": "leather",
                "label": "Leather"
              },
              {
                "value": "lock",
                "label": "Lock"
              },
              {
                "value": "map_pin",
                "label": "Map pin"
              },
              {
                "value": "pants",
                "label": "Pants"
              },
              {
                "value": "percent",
                "label": "Percent"
              },
              {
                "value": "plane",
                "label": "Plane"
              },
              {
                "value": "price_tag",
                "label": "Price tag"
              },
              {
                "value": "question_mark",
                "label": "Question mark"
              },
              {
                "value": "return",
                "label": "Return"
              },
              {
                "value": "ruler",
                "label": "Ruler"
              },
              {
                "value": "scissors",
                "label": "Scissors"
              },
              {
                "value": "shirt",
                "label": "Shirt"
              },
              {
                "value": "shoe",
                "label": "Shoe"
              },
              {
                "value": "silhouette",
                "label": "Silhouette"
              },
              {
                "value": "star",
                "label": "Star"
              },
              {
                "value": "truck",
                "label": "Truck"
              },
              {
                "value": "washing",
                "label": "Washing"
              }
            ]
          }
        ]
      },
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "image_width",
            "min": 60,
            "max": 700,
            "step": 10,
            "unit": "px",
            "label": "Image width",
            "default": 260
          },
          {
            "type": "url",
            "id": "url",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Rich text",
        "settings": {},
        "blocks": [
          {
            "type": "heading"
          },
          {
            "type": "text"
          }
        ]
      }
    ]
  }
{% endschema %}
