<div id="section-id-{{ section.id }}"
     class="card card-scheme card-scheme--{{ section.settings.color_scheme }} card-br-oh"
     data-section-type="testimonials"
     data-cc-animate="cc-fade-in-up" data-cc-animate-delay="0.2s">

  {%- liquid
    assign image_aspect_ratio = false
    assign cover = false
    if section.settings.image_shape == 'landscape'
      assign image_aspect_ratio = 1.25
      assign cover = true
    elsif section.settings.image_shape == 'square'
      assign image_aspect_ratio = 1.0
      assign cover = true
    elsif section.settings.image_shape == 'portrait'
      assign image_aspect_ratio = 0.8
      assign cover = true
    endif
  -%}

  <div class="testimonial-list testimonial-list--{% if section.settings.enable_images %}with-images{% else %}without-images{% endif %} fully-padded-row-x--medium fully-padded-row--large"
      data-testimonial-count="{{ section.blocks.size }}"
      data-autoplay="{{ section.settings.autoplay }}"
      data-autoplay-speed="{{ section.settings.autoplay_speed }}000">
    {% if section.settings.title != blank %}
      <h2 class="section-title section-title--in-card{% if section.settings.enable_images %} mobile-only{% endif %}{% unless section.settings.show_title %} visually-hidden{% endunless %}">{{ section.settings.title | escape }}</h2>
    {% endif %}

    <div class="testimonial-list__inner">
      {%- if section.settings.enable_images -%}
        <div class="testimonial-list__presented-text testimonial-list__presented-text--reveal">
          {% if section.settings.title != blank %}
            <h2 class="h6-style desktop-only testimonial-list__presented-text__title{% unless section.settings.show_title %} visually-hidden{% endunless %}">{{ section.settings.title | escape }}</h2>
          {% endif %}

          <div class="testimonial__text">
            {%- if section.blocks.first.settings.star_rating > 0 -%}
              <div class="testimonial__star-rating heading-font">
                {%- for i in (1..section.blocks.first.settings.star_rating) -%}
                <span class="testimonial__star">{% render 'svg-star' %}</span>
                {%- endfor -%}
              </div>
            {%- endif -%}

            {%- if section.blocks.first.settings.testimonial != blank -%}
              <div class="testimonial__quote-wrapper">
                <blockquote class="testimonial__blockquote{% if section.settings.text_caps %} testimonial__blockquote--caps{% endif %} heading-font {{ section.settings.title_size }}">{% render 'feature-heading-text', text: section.blocks.first.settings.testimonial %}</blockquote>
              </div>
            {%- endif -%}

            {%- if section.blocks.first.settings.author != blank -%}
              <div class="testimonial__author">
                &mdash; {{ section.blocks.first.settings.author | escape }}
              </div>
            {%- endif -%}
          </div>
        </div>
      {%- endif -%}

      <cc-carousel class="cc-carousel" allow-mouse-drag set-item-classes {% if section.settings.enable_images %}select-single loop{% endif %}>
        <div class="cc-carousel__scroll-outer">
          <div class="cc-carousel__scroll-area testimonial-carousel">
            {%- for block in section.blocks -%}
              <div class="testimonial" {{ block.shopify_attributes }}>
                {% if section.settings.enable_images %}
                  <figure class="testimonial__image">
                    <div class="testimonial__image-wrapper card-br-oh">
                      {% if block.settings.image != blank %}
                        {%- render 'responsive-image', image: block.settings.image, aspect_ratio: image_aspect_ratio, cover: cover, image_position: block.settings.image_alignment -%}
                      {% else %}
                        <div class="placeholder-image" style="padding-top:{{ 100.0 | divided_by: image_aspect_ratio | round }}%">{{ 'image' | placeholder_svg_tag }}</div>
                      {% endif %}
                    </div>

                    {% if block.settings.image_caption != blank %}
                      <figcaption class="testimonial__image__caption{% if block.settings.link != blank %} underline{% endif %}">
                        {{ block.settings.image_caption | escape }}
                      </figcaption>
                    {% endif %}
                  </figure>
                {% endif %}

                <div class="testimonial__text">
                  {%- if block.settings.star_rating > 0 -%}
                    <div class="testimonial__star-rating heading-font">
                      {%- for i in (1..block.settings.star_rating) -%}
                      <span class="testimonial__star">{% render 'svg-star' %}</span>
                      {%- endfor -%}
                    </div>
                  {%- endif -%}

                  {%- if block.settings.testimonial != blank -%}
                    <div class="testimonial__quote-wrapper">
                      <blockquote class="testimonial__blockquote{% if section.settings.text_caps %} testimonial__blockquote--caps{% endif %} heading-font {{ section.settings.title_size }}">{% render 'feature-heading-text', text: block.settings.testimonial %}</blockquote>
                    </div>
                  {%- endif -%}

                  {%- if block.settings.author != blank -%}
                    <div class="testimonial__author">
                      &mdash; {{ block.settings.author | escape }}
                    </div>
                  {%- endif -%}
                </div>
              </div>
            {%- endfor -%}
          </div>
        </div>
        <div class="cc-carousel-buttons cc-carousel-buttons--overlay-top">
          <button class="cc-carousel-button cc-carousel-button--prev tap-target" aria-label="{{ 'general.accessibility_labels.previous' | t }}"><span class="icon--small ltr-icon">{% render 'svg-chevron-left' %}</span></button>
          <button class="cc-carousel-button cc-carousel-button--next tap-target" aria-label="{{ 'general.accessibility_labels.next' | t }}"><span class="icon--small ltr-icon">{% render 'svg-chevron-right' %}</span></button>
        </div>
      </cc-carousel>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Testimonials",
    "class": "section-testimonials",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Customer reviews"
      },
      {
        "type": "checkbox",
        "id": "show_title",
        "label": "Show heading",
        "info": "A hidden heading will still be readable by search engines and screen readers",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_images",
        "label": "Enable images",
        "default": true
      },
      {
        "type": "select",
        "id": "image_shape",
        "label": "Image shape",
        "options": [
          {
            "value": "natural",
            "label": "Natural"
          },
          {
            "value": "landscape",
            "label": "Landscape (5:4)"
          },
          {
            "value": "square",
            "label": "Square (1:1)"
          },
          {
            "value": "portrait",
            "label": "Portrait (4:5)"
          }
        ],
        "default": "square"
      },
      {
        "type": "select",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "1",
        "options": [
          {
            "value": "1",
            "label": "Card 1"
          },
          {
            "value": "2",
            "label": "Card 2"
          },
          {
            "value": "3",
            "label": "Card 3"
          },
          {
            "value": "none",
            "label": "No card"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "text_caps",
        "label": "Capitalize text",
        "default": false
      },
      {
        "type": "select",
        "id": "title_size",
        "label": "Quote size",
        "default": "h1-style",
        "options": [
          {
            "label": "Extra small",
            "value": "h3-style"
          },
          {
            "label": "Small",
            "value": "h2-style"
          },
          {
            "label": "Regular",
            "value": "h1-style"
          },
          {
            "label": "Impact",
            "value": "hl-style"
          },
          {
            "label": "Extra impact",
            "value": "hsl-style"
          }
        ]
      },
      {
        "id": "autoplay",
        "type": "checkbox",
        "label": "Auto-rotate testimonials",
        "info": "Only applies when images are enabled",
        "default": true
      },
      {
        "type": "range",
        "id": "autoplay_speed",
        "min": 4,
        "max": 20,
        "step": 1,
        "unit": "s",
        "label": "Change testimonials every",
        "default": 5
      }
    ],
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "limit": 8,
        "settings": [
          {
            "type": "range",
            "id": "star_rating",
            "min": 0,
            "max": 5,
            "step": 1,
            "label": "Star rating",
            "default": 5
          },
          {
            "type": "text",
            "id": "testimonial",
            "label": "Testimonial",
            "default": "Add customer reviews and testimonials to showcase your store’s happy customers.",
            "info": "For best results, keep the word count similar in each quote. Enter <br> for a line-break."
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author",
            "default": "Author's name"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "1000 x 800px recommended"
          },
          {
            "type": "select",
            "id": "image_alignment",
            "label": "Image alignment",
            "info": "Used to keep the subject of your focus in view, if cropped to a fixed shape",
            "default": "center center",
            "options": [
              {
                "value": "top left",
                "label": "Top left"
              },
              {
                "value": "top center",
                "label": "Top center"
              },
              {
                "value": "top right",
                "label": "Top right"
              },
              {
                "value": "center left",
                "label": "Middle left"
              },
              {
                "value": "center center",
                "label": "Middle center"
              },
              {
                "value": "center right",
                "label": "Middle right"
              },
              {
                "value": "bottom left",
                "label": "Bottom left"
              },
              {
                "value": "bottom center",
                "label": "Bottom center"
              },
              {
                "value": "bottom right",
                "label": "Bottom right"
              }
            ]
          },
          {
            "type": "text",
            "id": "image_caption",
            "label": "Image caption"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonials",
        "settings": {},
        "blocks": [
          {
            "type": "testimonial",
            "settings": {
            }
          },
          {
            "type": "testimonial",
            "settings": {
            }
          }
        ]
      }
    ]
  }
{% endschema %}
