<div id="section-id-{{ section.id }}" data-section-type="video">
  {% if section.settings.video != blank %}
    <div class="video-container video-container--image video-container--modal-mobile image-overlay image-overlay--bg-{{ section.settings.overlay_style }} card card-br-oh card-br-oh--no-isolate"
      data-cc-animate
      data-cc-animate-delay="0.2s"
      data-video-url="{{ section.settings.video | escape }}"
      data-video-autoplay="false"
      data-video-loop="false">
      <a class="video-container__stop" href="#" aria-label="{{ 'general.accessibility_labels.video_stop' | t | escape }}">{% render 'svg-x' %}</a>
      <div class="video-container__video"></div>

      <div class="video-container__cover">
        {%- if section.settings.image == blank -%}
          <div class="placeholder-image placeholder--banner dark">
            {{- 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' -}}
          </div>
        {%- else -%}
          {%-
            render 'background-image',
              image: section.settings.image,
              image_position: section.settings.image_position
          -%}
        {%- endif -%}
      </div>

      <div class="overlay-text overlay-text--for-banner overlay--v-{{ section.settings.text_alignment | split: ' ' | first }} overlay--h-{{ section.settings.text_alignment | split: ' ' | last }} image-overlay__over" data-cc-animate data-cc-animate-delay="0.2s">
        <div class="overlay-text__inner" style="max-width: {{ section.settings.content_max_width }}px">
          <div class="overlay-text__text">
            {%- if section.settings.subheading != blank -%}
              <div class="overlay-text__subheading subheading subheading--over">{{ section.settings.subheading | escape }}</div>
            {%- endif -%}
            {%- if section.settings.video_title != blank -%}
              {% if section.settings.use_h1 %}
                <h1 class="overlay-text__title {{ section.settings.title_size }}">{% render 'feature-heading-text', text: section.settings.video_title, item_settings: section.settings %}</h1>
              {% else %}
                <h2 class="overlay-text__title {{ section.settings.title_size }}">{% render 'feature-heading-text', text: section.settings.video_title, item_settings: section.settings %}</h2>
              {% endif %}
            {%- endif -%}
            {%- if section.settings.text != blank -%}
              <div class="overlay-text__rte rte {% if section.settings.enlarge_text %}large-text{% endif %} lightly-spaced-row">{{ section.settings.text }}</div>
            {%- endif -%}
            <a href="#" class="video-container__play" aria-label="{{ 'general.accessibility_labels.video_play' | t | escape }}">{% render 'svg-play' %}</a>
          </div>
        </div>
      </div>
    </div>
  {% elsif request.design_mode %}
    <div class="fully-padded-row--large align-center">{{ 'homepage.onboarding.no_content' | t }}</div>
  {% endif %}
</div>


{% schema %}
  {
    "name": "Video",
    "class": "section-video",
    "settings": [
      {
        "id": "video",
        "type": "text",
        "label": "Video link",
        "info": "Supports mp4, YouTube and Vimeo. [Read more](https://cleancanvas.co.uk/support/mode/video)",
        "default": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc"
      },
      {
        "type": "header",
        "content": "Overlay"
      },
      {
        "type": "range",
        "id": "content_max_width",
        "min": 500,
        "max": 1200,
        "step": 20,
        "unit": "px",
        "label": "Maximum content width",
        "default": 800
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "Tell your story"
      },
      {
        "type": "text",
        "id": "video_title",
        "label": "Heading",
        "info": "Enter <br> for a line-break",
        "default": "Featured video"
      },
      {
        "type": "select",
        "id": "title_size",
        "label": "Heading size",
        "default": "hsl-style",
        "options": [
          {
            "label": "Regular",
            "value": "h1-style"
          },
          {
            "label": "Impact",
            "value": "hl-style"
          },
          {
            "label": "Extra impact",
            "value": "hsl-style"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "use_h1",
        "label": "Set as primary page heading",
        "info": "Use <h1> tag. One per page recommended. [Read more](https://cleancanvas.co.uk/support/mode/section-h1-setting)",
        "default": false
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Use a video to get a customer's attention</p>"
      },
      {
        "type": "checkbox",
        "id": "enlarge_text",
        "label": "Enlarge text",
        "default": true
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text overlay position",
        "options": [
          {
            "value": "top left",
            "label": "Top left"
          },
          {
            "value": "top center",
            "label": "Top center"
          },
          {
            "value": "top right",
            "label": "Top right"
          },
          {
            "value": "center left",
            "label": "Middle left"
          },
          {
            "value": "center center",
            "label": "Middle center"
          },
          {
            "value": "center right",
            "label": "Middle right"
          },
          {
            "value": "bottom left",
            "label": "Bottom left"
          },
          {
            "value": "bottom center",
            "label": "Bottom center"
          },
          {
            "value": "bottom right",
            "label": "Bottom right"
          }
        ],
        "default": "center center"
      },
      {
        "id": "overlay_style",
        "type": "select",
        "label": "Overlay style",
        "default": "shadow",
        "options": [
          {
            "value": "full",
            "label": "Tint"
          },
          {
            "value": "shadow",
            "label": "Text shadow"
          },
          {
            "value": "full image-overlay--bg-shadow",
            "label": "Text shadow and tint"
          },
          {
            "value": "no_background",
            "label": "No background"
          }
        ]
      },
      {
        "type": "header",
        "content": "Cover image"
      },
      {
        "id": "image",
        "type": "image_picker",
        "label": "Cover image"
      },
      {
        "type": "select",
        "id": "image_position",
        "label": "Image alignment",
        "info": "Used to keep the subject of your image in view",
        "default": "center center",
        "options": [
          {
            "value": "top left",
            "label": "Top left"
          },
          {
            "value": "top center",
            "label": "Top center"
          },
          {
            "value": "top right",
            "label": "Top right"
          },
          {
            "value": "center left",
            "label": "Middle left"
          },
          {
            "value": "center center",
            "label": "Middle center"
          },
          {
            "value": "center right",
            "label": "Middle right"
          },
          {
            "value": "bottom left",
            "label": "Bottom left"
          },
          {
            "value": "bottom center",
            "label": "Bottom center"
          },
          {
            "value": "bottom right",
            "label": "Bottom right"
          }
        ]
      },
      {
        "type": "header",
        "content": "Heading text highlight"
      },
      {
        "type": "text",
        "id": "heading_highlight_text",
        "label": "Text to highlight",
        "info": "Case-sensitive. To highlight words or phrases that are not next to each other, use a comma. For example 'free shipping, returns'"
      },
      {
        "type": "checkbox",
        "id": "heading_highlight_font",
        "label": "Enable highlight font",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "heading_highlight_stencil",
        "label": "Enable stencil",
        "default": false
      },
      {
        "type": "color",
        "id": "heading_highlight_color",
        "label": "Color",
        "default": "rgba(0,0,0,0)"
      },
      {
        "type": "color_background",
        "id": "heading_highlight_gradient",
        "label": "Color gradient",
        "info": "A gradient stencil is not possible"
      }
    ],
    "presets": [
      {
        "name": "Video",
        "settings": {
          "video": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc"
        }
      }
    ]
  }
{% endschema %}
